/*! define alice/box/1.1.0/box-debug.css */
/* alice.box 样式模块 */

.ui-box {
    border: 1px solid #ccc;
    zoom: 1;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.ui-box: after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.ui-box-noborder {
	border: none;
}

.ui-box-follow /*--使用在box和上面的box相连的情况下 --*/ {
    border-top: none;
}

.ui-box-head {
    border-bottom: 2px solid #ccc;
    position: relative;
    padding: 10px;
    height: 16px;
    line-height: 16px;
    zoom: 1;
}

.ui-box-head .ui-box-head-title {
    font-size: 16px;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

.ui-box-head .ui-box-head-more {
    float: right;
}

.ui-box-head .ui-box-head-text {
    margin-left: 10px;
    color: #808080;
    float: left;
}

.ui-box-container {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

/* 可选，用于默认有内边距的box */
.ui-box-content {
    padding: 10px;
}
